nav {
  z-index: 99999;
  position: fixed;
  margin-top: 0vh;
  margin-left: 0vh;
  width: 100vw;
}

.navContainer {
  background-color: #f0f0d8;
  box-shadow: 00px 0px 20px #967c52;
  font-size: 15px;
  height: 15vh;
  position: center;
  gap: 50px;
}