/* Loader 1: Div tag */

/* .loader {
    width: 50px;
    height: 50px;
    position: relative;
    transform: translateX(-25px);
   }
   
   .loader::before,
   .loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate9 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .loader::before {
    background-color: #967c52;
   }
   
   .loader::after {
    background-color: #707043;
    animation-delay: .5s;
   }
   
   @keyframes rotate9 {
    0%,100% {
     left: 50px;
    }
   
    25% {
     transform: scale(.3);
    }
   
    50% {
     left: 0;
    }
   
    75% {
     transform: scale(1);
    }
   } */

/* Loader 2: span tag */

   /* .loader {
    width: 84px;
    height: 84px;
    position: relative;
  }
  
  .loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #967c52;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
  }
  
  .loader:after {
    animation-delay: 1s;
  }
  
  @keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
  } */


  /* Loader 3: 4 divs */

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .box {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    border-radius: 50%;
    animation: jump_4123 1s ease-in-out infinite;
  }
  
  .box:nth-child(1) {
    background-color: #4e4e4e;
    animation-delay: 0.2s;
  }
  
  .box:nth-child(2) {
    background-color: #bdbdbd;
    animation-delay: 0.4s;
  }
  
  .box:nth-child(3) {
    background-color: #4e4e4e;
    animation-delay: 0.6s;
  }
  
  .box:nth-child(4) {
    background-color: #bdbdbd;
    animation-delay: 0.8s;
  }
  
  @keyframes jump_4123 {
    0%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-30px);
    }
  }
  